/*-- scss:defaults --*/

// Most adapted from TA Jose Toledo Luna

// Colors
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #f8f5f0 !default;
$gray-300: #dfd7ca !default;
$gray-400: #ced4da !default;
$gray-500: #98978b !default;
$gray-600: #8e8c84 !default;
$gray-700: #495057 !default;
$gray-800: #3e3f3a !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #2774AE !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #d9534f !default;
$orange:  #f47c3c !default;
$yellow:  #ffc107 !default;
$green:   #8BB8E8 !default;
$teal:    #20c997 !default;
$cyan:    #29abe0 !default;
$dark-blue: #375A7F !default;

$primary:       $dark-blue !default;
$secondary:     $gray-800 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-200 !default;
$dark:          $gray-900 !default;

// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Cinzel:wght@400;500&display=swap');

// Fonts

$font-family-sans-serif: 'Avenir', sans-serif;

/* css styles */

// some alignment classes

.column-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
  margin-bottom: 1em !important;
}

.shrunk-content-width {
  width: 70%;
  margin: 0 auto;
}

// navigation highlights

.nav-link{
  /* Ensure a smooth transition for all hover states */
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  //position: relative; /* Needed for the underline effect */
  //display: inline-block; /* Helps with underline effect alignment */
  
  &:hover {
    /* Use the primary color for the background */
    background-color: $primary;
    /* Use the white color for the text */
    color: $white !important;
  }
}

.nav-link:not([href]) { // don't apply highlight if it has no link
  cursor: default;

  &:hover {
    background-color: transparent !important;
    color: inherit !important;
  }
}

.quarto-grid-item{ // built-in quarto class for grid items
  transition: all 0.1s ease-in-out;
  
  &:hover {
    background-color: $primary;
    color: $white !important;
  }
}

.quarto-post { // built-in quarto class for default listing items
  transition: all 0.1s ease-in-out;
  
  &:hover {
    background-color: $primary;
    color: $white !important;
  }
}

// spacing adjustments

.quarto-about-jolla {
  margin-top: 1rem !important;
  
  #quarto-document-content {
    margin-top: 0em !important;
    margin-bottom: 0em !important;
  }
}

.navbar {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

